# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.mo
*.sqlite3

# ======================
# Environnement virtuel
# ======================
env/
venv/
ENV/
.venv/
.env
.env.*

# ======================
# Django
# ======================
static/
staticfiles/
media/
db.sqlite3
*.sqlite3
*.json

# ======================
# Node.js / React / Next.js
# ======================
node_modules/
.next/
out/
dist/
build/
package-lock.json
yarn.lock
npm-debug.log*

# ======================
# Docker
# ======================
*.pid
*.sock

# ======================
# IDEs & Editors
# ======================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
